@import '../../../scss/mixins.scss';

.tile {
    width: 100%;
    background: $gray-600;
    aspect-ratio: 1;
    margin: auto;
    display: flex;
    flex: 1 1 0%;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.single-digit {
    font-size: calc(1rem + 5vw) !important;
}

.double-digit {
    font-size: calc(0.8rem + 5vw) !important;
}

.triple-digit {
    font-size: calc(0.2rem + 5vw) !important;
}

.tile h1 {
    margin-top: 1rem;
    font-size: calc(0.1rem + 5vw);
    text-align: center;
    width: 100%;
}

@include media-breakpoint-up(sm) {
    .tile h1 {
        font-size: 1.5rem;
    }

    .single-digit {
        font-size: 3rem !important;
    }

    .double-digit {
        font-size: 2.5rem !important;
    }

    .triple-digit {
        font-size: 2rem !important;
    }
}

@include media-breakpoint-up(md) {
    .tile h1 {
        font-size: 1.8rem;
    }

    .single-digit {
        font-size: 3.2rem !important;
    }
    
    .double-digit {
        font-size: 2.8rem !important;
    }

    .triple-digit {
        font-size: 2.4rem !important;
    }
}   

